#home {
  margin-top: 3rem;
  bottom: 2rem;
  width: 100%;

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;

    .home-intro {
      h1 {
        font-size: 80px;
        letter-spacing: 2px;
      }

      h2 {
        font-size: 35px;
        font-weight: 500;
      }
      // border: 1px solid red;

      .contact-btn {
        // border: 1px solid red;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;

        .contact-me-btn {
          display: flex;
          width: 180px;
          height: 45px;
          border-radius: 50px;
          text-align: center;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          font-size: 18px;
          background-color: rgb(243, 217, 47);
          cursor: pointer;
          box-shadow: 8px 0px 10px #999;
        }
        .contact-me-btn:hover {
          color: #fff;
        }

        .social-media-contact {
          ul {
            display: flex;
            // border: 1px solid red;
            width: 300px;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            margin-left: 2rem;
            padding: 4px;

            li {
              list-style-type: none;
              a {
                text-decoration: none;
                font-size: 45px;
                color: black;
              }

              .line:hover {
                color: #06c755;
              }

              .linkedin:hover {
                color: #0077b5;
              }

              .ig:hover {
                color: #ee2a7b;
              }

              .fb:hover {
                color: #1877f2;
              }

              .github:hover {
                color: #434349;
              }
            }
          }
        }
      }
    }

    .home-img {
      // width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      padding: 0 1rem;
      // .border-img {
      //   border: 8px solid black;
      //   overflow: hidden;
      //   padding: 1rem;
      //   border-radius: 50%;
      //   max-width: 100%;
      //     width: 500px;
      //     height: 500px;
        img {
          max-width: 100%;
          width: 500px;
          height: 500px;
          border-radius: 50%;
          // object-fit: cover;
        }
      // }
    }
  }
  @media screen and (max-width: 1120px) {
    .home-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @media screen and (max-width:480px) {

    .home-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .home-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        h1 {
          text-align: center;
          font-size: 48px;
          letter-spacing: 2px;
        }
    
        h2 {
          text-align: center;
          font-size: 20px;
          font-weight: 500;
        }

        p{
          text-align: center;
          width: 80%;
          font-size: 12px;
        }
      }
  
      .home-img{
        img{
          height: 400px;
          width: 400px;
        }
      }

      .contact-btn{
        display: flex;
        flex-wrap: wrap;
      }
     
    }
  }
  
}



