#experiences {
    // border: 1px solid red;
  width: 100%;
  margin-top: 4.5rem;
  align-items: center;
  position: relative;
}

.experiences-container {
  display: flex;
  justify-content: space-around;
  //   border: 1px solid red;
  margin-top: 2rem;

  .card-container {
    width: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    background-color: white;

    .card-img {
      width: 100%;
      height: 250px;
      border-radius: 1rem 1rem 0 0;
    }

    h5 {
      color: red;
    }

    .card-title {
      padding: 1rem;
      letter-spacing: 2px;
      font-size: 36px;
    }

    .description {
    //   border: 1px solid red;
      padding: .2rem 1.5rem 2.5rem 1.5rem;
      font-size: 20px;
      font-weight: 200;
      position: relative;

      .btn {
        position: absolute;
        // border: 1px solid red;
        bottom: 10px;
        left: 1.3rem;
        width: 100px;
        border-radius: 10px;
        font-size: 16px;
        background-color: rgb(222, 86, 86);
        cursor: pointer;

      }
    }
  }
}


@media screen and (max-width: 1120px) {
    .experiences-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // border: 1px solid red;
        justify-items: center;
        align-items: center;
        // .card-container{
        // // border: 1px solid red;
        //     width: 20rem;
        // }
    }

@media screen and (max-width: 768px) {
    .experiences-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        // border: 1px solid red;
        justify-items: center;
        align-items: center;
        .card-container{
        // border: 1px solid red;
            width:60%;
        }
    }
}

@media screen and (max-width: 480px) {
    .experiences-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        // border: 1px solid red;
        justify-items: center;
        align-items: center;
        .card-container{
        // border: 1px solid red;
            width: 80%;
        }
    }
}
}
