#skills {
  width: 100%;
  margin-top: 4rem;
  align-items: center;

  .skills-contatiner {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    // justify-content: space-between;
    align-items: center;
    padding: 6rem 3rem 1rem 3rem;

    .skill-list {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.2s;
      img {
        width: 15rem;
        padding: 1rem;
      }

      p {
        // border: 1px solid red;
        width: 100%;
        padding: 1rem;
        font-size: 28px;
        text-align: center;
      }
    }
    .skill-list:hover {
      transform: scale(1.2);
    }
  }
  @media screen and (max-width: 1120px) {
    .skills-contatiner {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }

  @media screen and (max-width: 768px) {
    .skills-contatiner {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      .skill-list {
        img {
          width: 13.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .skills-contatiner {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      .skill-list {
        img {
          width: 10rem;
        //   border: 1px solid red;
        }
      }
    }
  }
}
